<h1 class="title">Account Transactions</h1>

<table id="transactions-table">
    <thead>
        <tr>
            <th>Junction ID</th>
            <th>Source ID</th>
            <th>Source Name</th>
            <th>Source Balance</th>
            <th>Dest ID</th>
            <th>Dest Name</th>
            <th>Dest Balance</th>
            <th>Transaction ID</th>
            <th>Status ID</th>
        </tr>
    </thead>
    <tbody>
        {{#each results}}
            <tr>
                <td>{{this.jxnID}}</td>
                <td>{{this.sourceID_a}}</td>
                <td>{{this.name_a}}</td>
                <td>{{this.balance_a}}</td>
                <td>{{this.destID_b}}</td>
                <td>{{this.name_b}}</td>
                <td>{{this.balance_b}}</td>
                <td>{{this.transactionID}}</td>
                <td>{{this.statusID}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
