<div>
    <h2>Add a new {{entityName}}</h2>
    <form id="create-{{entityName}}-form" style="display: none;">
        {{#each fields}}
            <div>
                <label for="{{this}}">{{this}}</label>
                <input type="text" id="create-{{this}}" name="{{this}}" required>
            </div>
        {{/each}}
        <button type="submit">Add</button>
    </form>
</div>
